@font-face {
    font-family: "ws"; font-style: normal;
    font-weight: normal; src: url("fonts/ArnStylo.ttf");}
@font-face {
    font-family: "zp"; font-style: normal;
    font-weight: normal; src: url("fonts/ZaggaP.otf");}
@font-face {
    font-family: "lln"; font-style: normal;
    font-weight: normal; src: url("fonts/LeelawadeNormal.ttf");}
@font-face {
    font-family: "llb"; font-style: normal;
    font-weight: normal; src: url("fonts/LeelawadeBold.ttf");}
*{margin: 0; padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

::-webkit-input-placeholder {color: #fff;font-family: "lln";opacity: .8}
:-moz-placeholder {color: #fff; opacity: 1;}
::-moz-placeholder {color: #fff; opacity:  1;}
:-ms-input-placeholder {color: #fff;}

body{position: relative;}

/*.users{height:70px; width: 70px; border-radius: 50%; background: #ff1926;display: flex;
justify-content: center;align-items: center;position: absolute;; top: 80px; right: 160px}*/
#btn-users{display: none;}
.labelboton{height: 50px; width: 50px; background-color: #000; border-radius: 50%;
  color:#fff; position: absolute; top: 80px; right: 160px;display: flex; justify-content: center; align-items: center;box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);cursor:pointer;z-index: 101}
.icon-user{font-size: 2em;}
.labelboton:hover{box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.7);}
.fondoform{background: rgba(0,0,0,.5);width: 100%;position: absolute; height: 100vhz-index: 100;
transform: translateX(-100%);transition: all 0.8s ease;}
.formlogin{width: 300px;height: 100vh;background: rgba(97,204,255,.5);display: flex;border-right: 8px solid #1f57ff;
flex-direction: column;align-items: center;}
.formlogin h2{display: block;width: 250px; text-align: center;height: 30px;line-height: 30px;
font-size: 1.1em; font-family: "llb";margin-top: 15px;}
.logosvg {width: 80px;margin: 10px}
.formIniSes{display: flex; flex-direction: column; padding: 10px;width: 80%;}
input{padding: 5px;text-align: center; font-family: "llb"; color:#fff ;background: #1f57ff; border: 0; border-radius: 20px;font-size: 1em;margin: 5px;}
.norecue{width: 70%;padding: 10px 0;font-family: "lln";display: flex;flex-direction: column;align-content: center;justify-content: center;text-align: center}
.norecuep{font-size: 0.8em; font-family: "llb"}
.norecue a{font-size: 1em;text-decoration: none;font-family: "llb"; color: #ff1926}

.botIniRed{width: 70%; display: flex;flex-direction: column;justify-content: center;align-items: center;}
.icon-facebook{display: block;height: 80px; width: 80px;line-height: 80px;padding-top: 20px; color: #fff; background:#3b5998;text-align: center;font-size: 2em;border-radius: 50%; text-decoration: none;margin-top: 10px   }
.icon-google-plus{display: block;height: 80px; width: 80px;line-height: 80px;padding-top: 25px; color: #fff; background:#c4302b;text-align: center;font-size: 2em;border-radius: 50%; text-decoration: none;margin-top: 15px  }

#btn-users:checked ~ #fondform {transform: translateX(0%);transition: all 0.8s ease;}

.linea1{width: 100%; height: 35px; background: #000; display: flex; color: #fff; flex-direction: row;justify-content: flex-end;
align-items: center;font-family: "lln";font-size: 1em;}
.group{display: flex;flex-direction: row;padding: 0 10px;}
.group p{margin-left: 5px;}
.group a{text-decoration: none;}
.iconf{color: white}

.linea2{width: 240px; height: 30px; background: #ff1926;position:absolute;left: 150px;
border-radius: 0 0 25px 25px;box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);z-index: -1;}
.linea2 p{font-family: "lln"; text-align: center;line-height: 30px; color: #fff;}


header{display: flex;margin: auto; flex-direction: column; flex-wrap: wrap;
align-items: center;width: 100%;padding:40px 0;justify-content: center;}
.empresa{width: auto;display: flex;justify-content: center;flex-direction: column;
  align-items:center;flex-wrap: wrap;}
.empresa .logosvg {width: 80px}
.empresa .nombresvg{height:60px;padding: 5px 0;}
.empresa .slogan{height: 25px}
.menu{width: 80%;height: 25px;display: flex; margin: 10px 0;justify-content: center;align-items: center;
border-radius: 25px; background: linear-gradient(to bottom, rgba(97,204,255,1) 0%,rgba(84,163,238,1) 50%,
rgba(54,144,240,1) 51%,rgba(31,87,255,1) 100%); box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.5);z-index: }

.nivel1{list-style: none;display: flex; flex-wrap:wrap;}
.nivel1 li{width: auto;margin-left: 10px; background: ; padding: 10px;
  height: 25px; font-family:"llb";font-size: 1.2em;
  display: flex;justify-content: center;align-items: center;position: relative;}
.nivel1 li:hover {background: rgba(0,0,0,0.5);}
.nivel1 li a {color: #000000; width: 100%; height: 100%; text-align: center;
  line-height: 30%;border-radius: 15px;text-decoration: none;}
.nivel1 li a:hover{color:#ffffff;}

.snivel2{display: none;flex-direction: column;justify-content: flex-start; ;align-items:flex-start;
  position: absolute;top: 100%;width: 270px; flex-wrap: wrap; border: 8px solid #1f57ff;
  border-radius: 0 0 15px 15px; border-top: 0;background-color: rgba(97,204,255,1)}
.snivel2 li{width: 100%;height: 30px; font-family:"llb";font-size: 0.9em; flex-wrap: wrap;margin: 0;
  display: flex;justify-content: flex-start;align-items: flex-start;padding: 0 5px}
.snivel2 li a {color: #1f57ff;width: 100%; height: 100%; text-align: center;
  line-height: 30px;text-decoration: none;}
.snivel2 li a:hover{color: #ff1926; background: rgba(0,0,0,0.5); border-radius: 0;}


.pnivel2{display: none;flex-direction: column;justify-content: flex-start; align-items:flex-start; padding: 0;
  position: absolute;top: 100%;width: 250px; flex-wrap: wrap; border: 8px solid #1f57ff;
  border-radius: 0 0 15px 15px; border-top: 0;background-color: rgba(97,204,255,1);}
.pnivel2 li{width: auto;height: 30px; font-family:"llb";font-size: 0.9em; flex-wrap: wrap;padding: 0;margin: 0;
  display: flex;justify-content: flex-start;align-items: flex-start;padding: 0 5px;}
.pnivel2 li a {color: #1f57ff;width: 100%; height: 100%; text-align:center ;
  line-height: 30px;border-radius: 15px;text-decoration: none;}
.pnivel2 li a:hover{color: #ff1926; background: rgba(0,0,0,0.5); border-radius: 0;}

.nivel3{ display: none;flex-direction: column;justify-content: center; align-items:flex-start; position: absolute;
  top: 0;left: 100%;width: 300px;border: 8px solid #1f57ff;border-radius: 0 0 15px 15px;
  background-color: rgba(97,204,255,1) }
.nivel3 li{width: auto;height: 30px; font-family:"llb";font-size: 0.9em;flex-wrap: wrap;padding: 0 5px;
  margin-left: 0px;display: flex;justify-content: center;align-items: flex-start;;}
.nivel3 li a {color: #1f57ff;width: 100%; height: 100%; text-align: left;
  line-height: 30px;text-decoration: none;}
.nivel3 li a:hover{color: #ff1926; background: rgba(0,0,0,0.5)}
