@font-face {
  font-family: 'Logos';
  src:  url('fonts/ryl/Logos.eot?jmpwow');
  src:  url('fonts/ryl/Logos.eot?jmpwow#iefix') format('embedded-opentype'),
    url('fonts/ryl/Logos.ttf?jmpwow') format('truetype'),
    url('fonts/ryl/Logos.woff?jmpwow') format('woff'),
    url('fonts/ryl/Logos.svg?jmpwow#Logos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="Ryl-"], [class*=" Ryl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Logos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Ryl-aboutme:before {
  content: "\e900";
  color: #00a98f;
}
.Ryl-acm:before {
  content: "\e901";
  color: #0085ca;
}
.Ryl-addthis:before {
  content: "\e902";
  color: #ff6550;
}
.Ryl-adobe:before {
  content: "\e903";
  color: #f00;
}
.Ryl-adobeacrobatreader:before {
  content: "\e904";
  color: #ee3f24;
}
.Ryl-adobeaftereffects:before {
  content: "\e905";
  color: #d291ff;
}
.Ryl-adobedreamweaver:before {
  content: "\e906";
  color: #35fa00;
}
.Ryl-adobeillustrator:before {
  content: "\e907";
  color: #ff7c00;
}
.Ryl-adobeindesign:before {
  content: "\e908";
  color: #fd3f93;
}
.Ryl-adobelightroom:before {
  content: "\e909";
  color: #add5ec;
}
.Ryl-adobephotoshop:before {
  content: "\e90a";
  color: #00c8ff;
}
.Ryl-adobetypekit:before {
  content: "\e90b";
  color: #87ec00;
}
.Ryl-airbnb:before {
  content: "\e90c";
  color: #ff5a5f;
}
.Ryl-amazon:before {
  content: "\e90d";
  color: #f90;
}
.Ryl-americanexpress:before {
  content: "\e90e";
  color: #2e77bc;
}
.Ryl-android:before {
  content: "\e90f";
  color: #a4c639;
}
.Ryl-angellist:before {
  content: "\e910";
}
.Ryl-angular:before {
  content: "\e911";
  color: #dd0031;
}
.Ryl-apple:before {
  content: "\e912";
  color: #999;
}
.Ryl-applemusic:before {
  content: "\e913";
}
.Ryl-archlinux:before {
  content: "\e914";
  color: #1793d1;
}
.Ryl-artstation:before {
  content: "\e915";
  color: #13aff0;
}
.Ryl-asana:before {
  content: "\e916";
}
.Ryl-atlassian:before {
  content: "\e917";
  color: #0052cc;
}
.Ryl-atom:before {
  content: "\e918";
  color: #66595c;
}
.Ryl-aurelia:before {
  content: "\e919";
  color: #ed2b88;
}
.Ryl-auth0:before {
  content: "\e91a";
  color: #eb5424;
}
.Ryl-automatic:before {
  content: "\e91b";
  color: #7d8084;
}
.Ryl-aventrix:before {
  content: "\e91c";
  color: #09d;
}
.Ryl-baidu:before {
  content: "\e91d";
  color: #2319dc;
}
.Ryl-bandcamp:before {
  content: "\e91e";
  color: #408294;
}
.Ryl-basecamp:before {
  content: "\e91f";
  color: #5ecc62;
}
.Ryl-bathasu:before {
  content: "\e920";
  color: #00a3e0;
}
.Ryl-behance:before {
  content: "\e921";
  color: #1769ff;
}
.Ryl-bigcartel:before {
  content: "\e922";
}
.Ryl-bing:before {
  content: "\e923";
  color: #008373;
}
.Ryl-bitbucket:before {
  content: "\e924";
  color: #0052cc;
}
.Ryl-bitcoin:before {
  content: "\e925";
  color: #f7931a;
}
.Ryl-bitly:before {
  content: "\e926";
  color: #ee6123;
}
.Ryl-blender:before {
  content: "\e927";
  color: #f5792a;
}
.Ryl-blogger:before {
  content: "\e928";
  color: #ff5722;
}
.Ryl-bootstrap:before {
  content: "\e929";
  color: #563d7c;
}
.Ryl-bower:before {
  content: "\e92a";
  color: #ef5734;
}
.Ryl-brandai:before {
  content: "\e92b";
  color: #0aa0ff;
}
.Ryl-buffer:before {
  content: "\e92c";
  color: #168eea;
}
.Ryl-buzzfeed:before {
  content: "\e92d";
  color: #e32;
}
.Ryl-cakephp:before {
  content: "\e92e";
  color: #d33c43;
}
.Ryl-campaignmonitor:before {
  content: "\e92f";
  color: #509cf6;
}
.Ryl-circleci:before {
  content: "\e930";
}
.Ryl-cloudflare:before {
  content: "\e931";
  color: #f38020;
}
.Ryl-codecademy:before {
  content: "\e932";
  color: #1f4056;
}
.Ryl-codeforces:before {
  content: "\e933";
  color: #1f8acb;
}
.Ryl-codeigniter:before {
  content: "\e934";
  color: #ee4623;
}
.Ryl-codepen:before {
  content: "\e935";
}
.Ryl-coderwall:before {
  content: "\e936";
  color: #3e8dcc;
}
.Ryl-codeschool:before {
  content: "\e937";
  color: #4cadc0;
}
.Ryl-codewars:before {
  content: "\e938";
  color: #ad2c27;
}
.Ryl-codio:before {
  content: "\e939";
  color: #4574e0;
}
.Ryl-compropago:before {
  content: "\e93a";
  color: #00aaef;
}
.Ryl-conekta:before {
  content: "\e93b";
  color: #414959;
}
.Ryl-coop:before {
  content: "\e93c";
  color: #00b1e7;
}
.Ryl-coursera:before {
  content: "\e93d";
  color: #2a73cc;
}
.Ryl-css3:before {
  content: "\e93e";
  color: #1572b6;
}
.Ryl-csswizardry:before {
  content: "\e93f";
  color: #f43059;
}
.Ryl-dailymotion:before {
  content: "\e940";
  color: #0066dc;
}
.Ryl-deezer:before {
  content: "\e941";
  color: #00c7f2;
}
.Ryl-delicious:before {
  content: "\e942";
  color: #39f;
}
.Ryl-designernews:before {
  content: "\e943";
  color: #2d72d9;
}
.Ryl-deviantart:before {
  content: "\e944";
  color: #05cc47;
}
.Ryl-devto:before {
  content: "\e945";
}
.Ryl-diaspora:before {
  content: "\e946";
}
.Ryl-digg:before {
  content: "\e947";
}
.Ryl-digitalocean:before {
  content: "\e948";
  color: #0080ff;
}
.Ryl-discord:before {
  content: "\e949";
  color: #7289da;
}
.Ryl-discourse:before {
  content: "\e94a";
}
.Ryl-discover:before {
  content: "\e94b";
  color: #ff6000;
}
.Ryl-disqus:before {
  content: "\e94c";
  color: #2e9fff;
}
.Ryl-disroot:before {
  content: "\e94d";
  color: #50162d;
}
.Ryl-django:before {
  content: "\e94e";
}
.Ryl-docker:before {
  content: "\e94f";
  color: #1488c6;
}
.Ryl-draugiemlv:before {
  content: "\e950";
  color: #f60;
}
.Ryl-dribbble:before {
  content: "\e951";
  color: #ea4c89;
}
.Ryl-dropbox:before {
  content: "\e952";
  color: #0061ff;
}
.Ryl-drupal:before {
  content: "\e953";
  color: #0678be;
}
.Ryl-ebay:before {
  content: "\e954";
  color: #e53238;
}
.Ryl-ello:before {
  content: "\e955";
}
.Ryl-empirekred:before {
  content: "\e956";
  color: #72be50;
}
.Ryl-ethereum:before {
  content: "\e957";
}
.Ryl-etsy:before {
  content: "\e958";
  color: #f16521;
}
.Ryl-eventbrite:before {
  content: "\e959";
  color: #f6682f;
}
.Ryl-eventstore:before {
  content: "\e95a";
  color: #5ab552;
}
.Ryl-evernote:before {
  content: "\e95b";
  color: #2dbe60;
}
.Ryl-everplaces:before {
  content: "\e95c";
  color: #fa4b32;
}
.Ryl-facebook:before {
  content: "\e95d";
  color: #3b5998;
}
.Ryl-fandango:before {
  content: "\e95e";
  color: #ff7300;
}
.Ryl-feathub:before {
  content: "\e95f";
  color: #9b9b9b;
}
.Ryl-feedly:before {
  content: "\e960";
  color: #2bb24c;
}
.Ryl-firebase:before {
  content: "\e961";
  color: #ffca28;
}
.Ryl-fitbit:before {
  content: "\e962";
  color: #00b0b9;
}
.Ryl-flickr:before {
  content: "\e963";
  color: #0063dc;
}
.Ryl-flipboard:before {
  content: "\e964";
  color: #e12828;
}
.Ryl-fnac:before {
  content: "\e965";
  color: #e1a925;
}
.Ryl-foursquare:before {
  content: "\e966";
  color: #f94877;
}
.Ryl-freecodecamp:before {
  content: "\e967";
  color: #006400;
}
.Ryl-garmin:before {
  content: "\e968";
  color: #007cc3;
}
.Ryl-gatsby:before {
  content: "\e969";
  color: #639;
}
.Ryl-gauges:before {
  content: "\e96a";
  color: #2fa66a;
}
.Ryl-geeklist:before {
  content: "\e96b";
  color: #8cc63f;
}
.Ryl-geocaching:before {
  content: "\e96c";
  color: #00874d;
}
.Ryl-gerrit:before {
  content: "\e96d";
  color: #eee;
}
.Ryl-ghost:before {
  content: "\e96e";
  color: #718087;
}
.Ryl-git:before {
  content: "\e96f";
  color: #f05032;
}
.Ryl-github:before {
  content: "\e970";
}
.Ryl-gitlab:before {
  content: "\e971";
  color: #e24329;
}
.Ryl-gitter:before {
  content: "\e972";
  color: #ff0064;
}
.Ryl-glassdoor:before {
  content: "\e973";
  color: #0caa41;
}
.Ryl-gmail:before {
  content: "\e974";
  color: #d14836;
}
.Ryl-gnu:before {
  content: "\e975";
  color: #a42e2b;
}
.Ryl-gnusocial:before {
  content: "\e976";
  color: #a22430;
}
.Ryl-goldenline:before {
  content: "\e977";
  color: #fbbf00;
}
.Ryl-goodreads:before {
  content: "\e978";
  color: #630;
}
.Ryl-google:before {
  content: "\e979";
  color: #4285f4;
}
.Ryl-googleallo:before {
  content: "\e97a";
  color: #ecb842;
}
.Ryl-googleanalytics:before {
  content: "\e97b";
  color: #ffc107;
}
.Ryl-googlechrome:before {
  content: "\e97c";
  color: #4285f4;
}
.Ryl-googledrive:before {
  content: "\e97d";
  color: #4386fc;
}
.Ryl-googlehangouts:before {
  content: "\e97e";
  color: #0c9d58;
}
.Ryl-googlekeep:before {
  content: "\e97f";
  color: #fb0;
}
.Ryl-googleplay:before {
  content: "\e980";
  color: #607d8b;
}
.Ryl-googleplus:before {
  content: "\e981";
  color: #dc4e41;
}
.Ryl-govuk:before {
  content: "\e982";
  color: #005ea5;
}
.Ryl-graphcool:before {
  content: "\e983";
  color: #27ae60;
}
.Ryl-graphql:before {
  content: "\e984";
  color: #e10098;
}
.Ryl-gratipay:before {
  content: "\e985";
  color: #630;
}
.Ryl-grav:before {
  content: "\e986";
}
.Ryl-gravatar:before {
  content: "\e987";
  color: #1e8cbe;
}
.Ryl-gulp:before {
  content: "\e988";
  color: #da4648;
}
.Ryl-gumroad:before {
  content: "\e989";
  color: #36a9ae;
}
.Ryl-gumtree:before {
  content: "\e98a";
  color: #72ef36;
}
.Ryl-hackerrank:before {
  content: "\e98b";
  color: #2ec866;
}
.Ryl-hackster:before {
  content: "\e98c";
  color: #1bacf7;
}
.Ryl-haskell:before {
  content: "\e98d";
  color: #5d4f85;
}
.Ryl-hatenabookmark:before {
  content: "\e98e";
  color: #00a4de;
}
.Ryl-heroku:before {
  content: "\e98f";
  color: #430098;
}
.Ryl-hexo:before {
  content: "\e990";
  color: #0e83cd;
}
.Ryl-highly:before {
  content: "\e991";
  color: #ff3c00;
}
.Ryl-hipchat:before {
  content: "\e992";
  color: #0052cc;
}
.Ryl-homify:before {
  content: "\e993";
  color: #7dcda3;
}
.Ryl-hootsuite:before {
  content: "\e994";
}
.Ryl-houzz:before {
  content: "\e995";
  color: #7ac142;
}
.Ryl-html5:before {
  content: "\e996";
  color: #e34f26;
}
.Ryl-hulu:before {
  content: "\e997";
  color: #3dbb3d;
}
.Ryl-humblebundle:before {
  content: "\e998";
  color: #cc2929;
}
.Ryl-icq:before {
  content: "\e999";
  color: #7ebd00;
}
.Ryl-ifixit:before {
  content: "\e99a";
  color: #0071ce;
}
.Ryl-imdb:before {
  content: "\e99b";
  color: #e6b91e;
}
.Ryl-inkscape:before {
  content: "\e99c";
}
.Ryl-instacart:before {
  content: "\e99d";
  color: #43b02a;
}
.Ryl-instagram:before {
  content: "\e99e";
  color: #e4405f;
}
.Ryl-instapaper:before {
  content: "\e99f";
}
.Ryl-intel:before {
  content: "\e9a0";
  color: #0071c5;
}
.Ryl-intercom:before {
  content: "\e9a1";
  color: #1f8ded;
}
.Ryl-invision:before {
  content: "\e9a2";
  color: #f36;
}
.Ryl-javascript:before {
  content: "\e9a3";
  color: #f7df1e;
}
.Ryl-jekyll:before {
  content: "\e9a4";
  color: #c00;
}
.Ryl-jenkins:before {
  content: "\e9a5";
  color: #d24939;
}
.Ryl-jira:before {
  content: "\e9a6";
}
.Ryl-joomla:before {
  content: "\e9a7";
  color: #5091cd;
}
.Ryl-jquery:before {
  content: "\e9a8";
  color: #0769ad;
}
.Ryl-jsfiddle:before {
  content: "\e9a9";
  color: #4679a4;
}
.Ryl-json:before {
  content: "\e9aa";
}
.Ryl-justgiving:before {
  content: "\e9ab";
  color: #ad29b6;
}
.Ryl-kaggle:before {
  content: "\e9ac";
  color: #20beff;
}
.Ryl-keybase:before {
  content: "\e9ad";
  color: #33a0ff;
}
.Ryl-keycdn:before {
  content: "\e9ae";
  color: #3686be;
}
.Ryl-khanacademy:before {
  content: "\e9af";
  color: #9db63b;
}
.Ryl-kickstarter:before {
  content: "\e9b0";
  color: #2bde73;
}
.Ryl-kik:before {
  content: "\e9b1";
  color: #82bc23;
}
.Ryl-kirby:before {
  content: "\e9b2";
  color: #ff0100;
}
.Ryl-klout:before {
  content: "\e9b3";
  color: #e44600;
}
.Ryl-known:before {
  content: "\e9b4";
}
.Ryl-koding:before {
  content: "\e9b5";
  color: #00b057;
}
.Ryl-lanyrd:before {
  content: "\e9b6";
  color: #3c80ca;
}
.Ryl-laravel:before {
  content: "\e9b7";
  color: #e74430;
}
.Ryl-lastfm:before {
  content: "\e9b8";
  color: #d51007;
}
.Ryl-launchpad:before {
  content: "\e9b9";
  color: #f8c300;
}
.Ryl-letterboxd:before {
  content: "\e9ba";
  color: #00d735;
}
.Ryl-line:before {
  content: "\e9bb";
  color: #00c300;
}
.Ryl-linewebtoon:before {
  content: "\e9bc";
  color: #00d564;
}
.Ryl-linkedin:before {
  content: "\e9bd";
  color: #0077b5;
}
.Ryl-linux:before {
  content: "\e9be";
  color: #fcc624;
}
.Ryl-linuxfoundation:before {
  content: "\e9bf";
  color: #009bee;
}
.Ryl-livejournal:before {
  content: "\e9c0";
  color: #00b0ea;
}
.Ryl-livestream:before {
  content: "\e9c1";
  color: #cf202e;
}
.Ryl-macys:before {
  content: "\e9c2";
  color: #e21a2c;
}
.Ryl-magento:before {
  content: "\e9c3";
  color: #ee672f;
}
.Ryl-mailchimp:before {
  content: "\e9c4";
  color: #239ab9;
}
.Ryl-makerbot:before {
  content: "\e9c5";
  color: #ff1e0d;
}
.Ryl-mastercard:before {
  content: "\e9c6";
  color: #eb001b;
}
.Ryl-mastodon:before {
  content: "\e9c7";
  color: #189efc;
}
.Ryl-matternet:before {
  content: "\e9c8";
}
.Ryl-mediatemple:before {
  content: "\e9c9";
}
.Ryl-medium:before {
  content: "\e9ca";
}
.Ryl-meetup:before {
  content: "\e9cb";
  color: #ed1c40;
}
.Ryl-messenger:before {
  content: "\e9cc";
  color: #0084ff;
}
.Ryl-meteor:before {
  content: "\e9cd";
  color: #de4f4f;
}
.Ryl-microblog:before {
  content: "\e9ce";
  color: #fd8308;
}
.Ryl-microgenetics:before {
  content: "\e9cf";
  color: #f00;
}
.Ryl-microsoft:before {
  content: "\e9d0";
  color: #666;
}
.Ryl-microsoftaccess:before {
  content: "\e9d1";
  color: #ba141a;
}
.Ryl-microsoftexcel:before {
  content: "\e9d2";
  color: #217346;
}
.Ryl-microsoftonenote:before {
  content: "\e9d3";
  color: #80397b;
}
.Ryl-microsoftoutlook:before {
  content: "\e9d4";
  color: #0072c6;
}
.Ryl-microsoftpowerpoint:before {
  content: "\e9d5";
  color: #d24726;
}
.Ryl-microsoftword:before {
  content: "\e9d6";
  color: #2b579a;
}
.Ryl-minutemailer:before {
  content: "\e9d7";
  color: #3abfe6;
}
.Ryl-mixcloud:before {
  content: "\e9d8";
  color: #314359;
}
.Ryl-monero:before {
  content: "\e9d9";
  color: #f60;
}
.Ryl-mongodb:before {
  content: "\e9da";
  color: #47a248;
}
.Ryl-monkeytie:before {
  content: "\e9db";
  color: #ffc619;
}
.Ryl-monogram:before {
  content: "\e9dc";
  color: #fdb22a;
}
.Ryl-moo:before {
  content: "\e9dd";
  color: #00945e;
}
.Ryl-mozilla:before {
  content: "\e9de";
}
.Ryl-mozillafirefox:before {
  content: "\e9df";
  color: #ff9400;
}
.Ryl-myspace:before {
  content: "\e9e0";
}
.Ryl-mysql:before {
  content: "\e9e1";
  color: #4479a1;
}
.Ryl-neo4j:before {
  content: "\e9e2";
  color: #008cc1;
}
.Ryl-netflix:before {
  content: "\e9e3";
  color: #e50914;
}
.Ryl-netlify:before {
  content: "\e9e4";
  color: #00c7b7;
}
.Ryl-nextdoor:before {
  content: "\e9e5";
  color: #00b246;
}
.Ryl-nginx:before {
  content: "\e9e6";
  color: #269539;
}
.Ryl-nintendo:before {
  content: "\e9e7";
  color: #8f8f8f;
}
.Ryl-nintendogamecube:before {
  content: "\e9e8";
  color: #6a5fbb;
}
.Ryl-nintendoswitch:before {
  content: "\e9e9";
  color: #e60012;
}
.Ryl-nodejs:before {
  content: "\e9ea";
  color: #393;
}
.Ryl-nodemon:before {
  content: "\e9eb";
  color: #76d04b;
}
.Ryl-npm:before {
  content: "\e9ec";
  color: #cb3837;
}
.Ryl-nucleo:before {
  content: "\e9ed";
  color: #766dcc;
}
.Ryl-oculus:before {
  content: "\e9ee";
}
.Ryl-odnoklassniki:before {
  content: "\e9ef";
  color: #f4731c;
}
.Ryl-onedrive:before {
  content: "\e9f0";
  color: #094ab2;
}
.Ryl-opera:before {
  content: "\e9f1";
  color: #ff1b2d;
}
.Ryl-origin:before {
  content: "\e9f2";
  color: #f56c2d;
}
.Ryl-overcast:before {
  content: "\e9f3";
  color: #fc7e0f;
}
.Ryl-ovh:before {
  content: "\e9f4";
  color: #123f6d;
}
.Ryl-pagekit:before {
  content: "\e9f5";
}
.Ryl-pandora:before {
  content: "\e9f6";
  color: #005483;
}
.Ryl-patreon:before {
  content: "\e9f7";
  color: #f96854;
}
.Ryl-paypal:before {
  content: "\e9f8";
  color: #00457c;
}
.Ryl-periscope:before {
  content: "\e9f9";
  color: #40a4c4;
}
.Ryl-php:before {
  content: "\e9fa";
  color: #777bb4;
}
.Ryl-picartotv:before {
  content: "\e9fb";
  color: #1da456;
}
.Ryl-pinboard:before {
  content: "\e9fc";
  color: #00f;
}
.Ryl-pingdom:before {
  content: "\e9fd";
  color: #fff000;
}
.Ryl-pingup:before {
  content: "\e9fe";
  color: #00b1ab;
}
.Ryl-pinterest:before {
  content: "\e9ff";
  color: #bd081c;
}
.Ryl-plangrid:before {
  content: "\ea00";
  color: #0085de;
}
.Ryl-playerme:before {
  content: "\ea01";
  color: #c0379a;
}
.Ryl-playstation:before {
  content: "\ea02";
  color: #003791;
}
.Ryl-playstation3:before {
  content: "\ea03";
  color: #003791;
}
.Ryl-playstation4:before {
  content: "\ea04";
  color: #003791;
}
.Ryl-plex:before {
  content: "\ea05";
  color: #e5a00d;
}
.Ryl-pluralsight:before {
  content: "\ea06";
  color: #f15b2a;
}
.Ryl-plurk:before {
  content: "\ea07";
  color: #e9443d;
}
.Ryl-pocket:before {
  content: "\ea08";
  color: #ef3f56;
}
.Ryl-podcasts:before {
  content: "\ea09";
  color: #93c;
}
.Ryl-prismic:before {
  content: "\ea0a";
  color: #484a7a;
}
.Ryl-processwire:before {
  content: "\ea0b";
  color: #ef145f;
}
.Ryl-producthunt:before {
  content: "\ea0c";
  color: #da552f;
}
.Ryl-protoio:before {
  content: "\ea0d";
  color: #34a7c1;
}
.Ryl-protonmail:before {
  content: "\ea0e";
  color: #8b89cc;
}
.Ryl-500px:before {
  content: "\ea0f";
  color: #0099e5;
}
.Ryl-python:before {
  content: "\ea10";
  color: #3776ab;
}
.Ryl-qiita:before {
  content: "\ea11";
  color: #55c500;
}
.Ryl-quantcast:before {
  content: "\ea12";
}
.Ryl-quantopian:before {
  content: "\ea13";
  color: #c50000;
}
.Ryl-quora:before {
  content: "\ea14";
  color: #b92b27;
}
.Ryl-rails:before {
  content: "\ea15";
  color: #c00;
}
.Ryl-raspberrypi:before {
  content: "\ea16";
  color: #c51a4a;
}
.Ryl-react:before {
  content: "\ea17";
  color: #61dafb;
}
.Ryl-readthedocs:before {
  content: "\ea18";
  color: #8ca1af;
}
.Ryl-reddit:before {
  content: "\ea19";
  color: #ff4500;
}
.Ryl-redis:before {
  content: "\ea1a";
  color: #d82c20;
}
.Ryl-redux:before {
  content: "\ea1b";
  color: #764abc;
}
.Ryl-reverbnation:before {
  content: "\ea1c";
  color: #e43526;
}
.Ryl-roots:before {
  content: "\ea1d";
  color: #27ae60;
}
.Ryl-rss:before {
  content: "\ea1e";
  color: #ffa500;
}
.Ryl-ruby:before {
  content: "\ea1f";
  color: #cc342d;
}
.Ryl-runkeeper:before {
  content: "\ea20";
  color: #2dc9d7;
}
.Ryl-rust:before {
  content: "\ea21";
}
.Ryl-salesforce:before {
  content: "\ea22";
  color: #00a1e0;
}
.Ryl-sass:before {
  content: "\ea23";
  color: #c69;
}
.Ryl-saucelabs:before {
  content: "\ea24";
  color: #e2231a;
}
.Ryl-scribd:before {
  content: "\ea25";
  color: #1a7bba;
}
.Ryl-sega:before {
  content: "\ea26";
  color: #0089cf;
}
.Ryl-sellfy:before {
  content: "\ea27";
  color: #21b352;
}
.Ryl-sentry:before {
  content: "\ea28";
  color: #fb4226;
}
.Ryl-serverfault:before {
  content: "\ea29";
  color: #e7282d;
}
.Ryl-shazam:before {
  content: "\ea2a";
  color: #08f;
}
.Ryl-shopify:before {
  content: "\ea2b";
  color: #7ab55c;
}
.Ryl-signal:before {
  content: "\ea2c";
  color: #2592e9;
}
.Ryl-simpleicons:before {
  content: "\ea2d";
}
.Ryl-sinaweibo:before {
  content: "\ea2e";
  color: #e6162d;
}
.Ryl-sitepoint:before {
  content: "\ea2f";
  color: #258aaf;
}
.Ryl-skyliner:before {
  content: "\ea30";
  color: #2fcea0;
}
.Ryl-skype:before {
  content: "\ea31";
  color: #00aff0;
}
.Ryl-slack:before {
  content: "\ea32";
  color: #56b68b;
}
.Ryl-slashdot:before {
  content: "\ea33";
  color: #026664;
}
.Ryl-slickpic:before {
  content: "\ea34";
  color: #ff880f;
}
.Ryl-slides:before {
  content: "\ea35";
  color: #e4637c;
}
.Ryl-smashingmagazine:before {
  content: "\ea36";
  color: #e85c33;
}
.Ryl-snapchat:before {
  content: "\ea37";
  color: #fffc00;
}
.Ryl-sogou:before {
  content: "\ea38";
  color: #fb6022;
}
.Ryl-songkick:before {
  content: "\ea39";
  color: #f80046;
}
.Ryl-soundcloud:before {
  content: "\ea3a";
  color: #f30;
}
.Ryl-sourceforge:before {
  content: "\ea3b";
  color: #535353;
}
.Ryl-sparkpost:before {
  content: "\ea3c";
  color: #fa6423;
}
.Ryl-speakerdeck:before {
  content: "\ea3d";
  color: #396;
}
.Ryl-spotify:before {
  content: "\ea3e";
  color: #1ed760;
}
.Ryl-spotlight:before {
  content: "\ea3f";
  color: #352a71;
}
.Ryl-spreaker:before {
  content: "\ea40";
  color: #f5c300;
}
.Ryl-squarespace:before {
  content: "\ea41";
}
.Ryl-stackexchange:before {
  content: "\ea42";
  color: #1e5397;
}
.Ryl-stackoverflow:before {
  content: "\ea43";
  color: #fe7a16;
}
.Ryl-statamic:before {
  content: "\ea44";
}
.Ryl-staticman:before {
  content: "\ea45";
}
.Ryl-steam:before {
  content: "\ea46";
}
.Ryl-steem:before {
  content: "\ea47";
  color: #4ba2f2;
}
.Ryl-stitcher:before {
  content: "\ea48";
}
.Ryl-storify:before {
  content: "\ea49";
  color: #3a98d9;
}
.Ryl-strava:before {
  content: "\ea4a";
  color: #fc4c02;
}
.Ryl-stripe:before {
  content: "\ea4b";
  color: #008cdd;
}
.Ryl-stubhub:before {
  content: "\ea4c";
  color: #003168;
}
.Ryl-stumbleupon:before {
  content: "\ea4d";
  color: #eb4924;
}
.Ryl-styleshare:before {
  content: "\ea4e";
}
.Ryl-stylus:before {
  content: "\ea4f";
}
.Ryl-sublimetext:before {
  content: "\ea50";
}
.Ryl-subversion:before {
  content: "\ea51";
  color: #809cc9;
}
.Ryl-superuser:before {
  content: "\ea52";
  color: #2eace3;
}
.Ryl-swarm:before {
  content: "\ea53";
  color: #ffa633;
}
.Ryl-swift:before {
  content: "\ea54";
  color: #fa7343;
}
.Ryl-symfony:before {
  content: "\ea55";
}
.Ryl-tapas:before {
  content: "\ea56";
  color: #ffce00;
}
.Ryl-ted:before {
  content: "\ea57";
  color: #e62b1e;
}
.Ryl-teespring:before {
  content: "\ea58";
  color: #39ace6;
}
.Ryl-telegram:before {
  content: "\ea59";
  color: #2ca5e0;
}
.Ryl-tencentqq:before {
  content: "\ea5a";
  color: #12b7f5;
}
.Ryl-tesla:before {
  content: "\ea5b";
  color: #c00;
}
.Ryl-themighty:before {
  content: "\ea5c";
  color: #d0072a;
}
.Ryl-tinder:before {
  content: "\ea5d";
  color: #ff6b6b;
}
.Ryl-toggl:before {
  content: "\ea5e";
  color: #e01b22;
}
.Ryl-topcoder:before {
  content: "\ea5f";
  color: #29a8e0;
}
.Ryl-toptal:before {
  content: "\ea60";
  color: #3863a0;
}
.Ryl-trakt:before {
  content: "\ea61";
  color: #ed1c24;
}
.Ryl-travisci:before {
  content: "\ea62";
  color: #39a85b;
}
.Ryl-treehouse:before {
  content: "\ea63";
  color: #5fcf80;
}
.Ryl-trello:before {
  content: "\ea64";
  color: #0079bf;
}
.Ryl-tripadvisor:before {
  content: "\ea65";
  color: #00af87;
}
.Ryl-trulia:before {
  content: "\ea66";
  color: #53b50a;
}
.Ryl-tumblr:before {
  content: "\ea67";
  color: #36465d;
}
.Ryl-twilio:before {
  content: "\ea68";
  color: #f22f46;
}
.Ryl-twitch:before {
  content: "\ea69";
  color: #6441a4;
}
.Ryl-twitter:before {
  content: "\ea6a";
  color: #1da1f2;
}
.Ryl-twoo:before {
  content: "\ea6b";
  color: #ff7102;
}
.Ryl-uber:before {
  content: "\ea6c";
}
.Ryl-ubuntu:before {
  content: "\ea6d";
  color: #e95420;
}
.Ryl-udacity:before {
  content: "\ea6e";
  color: #01b3e3;
}
.Ryl-uikit:before {
  content: "\ea6f";
  color: #2396f3;
}
.Ryl-umbraco:before {
  content: "\ea70";
  color: #00bec1;
}
.Ryl-unsplash:before {
  content: "\ea71";
}
.Ryl-untappd:before {
  content: "\ea72";
  color: #ffc000;
}
.Ryl-upwork:before {
  content: "\ea73";
  color: #6fda44;
}
.Ryl-viadeo:before {
  content: "\ea74";
  color: #f88d2d;
}
.Ryl-viber:before {
  content: "\ea75";
  color: #665cac;
}
.Ryl-vim:before {
  content: "\ea76";
  color: #019733;
}
.Ryl-vimeo:before {
  content: "\ea77";
  color: #1ab7ea;
}
.Ryl-vine:before {
  content: "\ea78";
  color: #11b48a;
}
.Ryl-virb:before {
  content: "\ea79";
  color: #0093da;
}
.Ryl-visa:before {
  content: "\ea7a";
  color: #142787;
}
.Ryl-visualstudiocode:before {
  content: "\ea7b";
  color: #0271bc;
}
.Ryl-vk:before {
  content: "\ea7c";
  color: #6383a8;
}
.Ryl-vsco:before {
  content: "\ea7d";
}
.Ryl-vuejs:before {
  content: "\ea7e";
  color: #4fc08d;
}
.Ryl-wattpad:before {
  content: "\ea7f";
  color: #f68d12;
}
.Ryl-webpack:before {
  content: "\ea80";
  color: #8dd6f9;
}
.Ryl-webstorm:before {
  content: "\ea81";
  color: #00cdd7;
}
.Ryl-wechat:before {
  content: "\ea82";
  color: #7bb32e;
}
.Ryl-whatsapp:before {
  content: "\ea83";
  color: #25d366;
}
.Ryl-wheniwork:before {
  content: "\ea84";
  color: #51a33d;
}
.Ryl-wii:before {
  content: "\ea85";
  color: #8b8b8b;
}
.Ryl-wiiu:before {
  content: "\ea86";
  color: #8b8b8b;
}
.Ryl-wikipedia:before {
  content: "\ea87";
}
.Ryl-windows:before {
  content: "\ea88";
  color: #0078d6;
}
.Ryl-wire:before {
  content: "\ea89";
}
.Ryl-wix:before {
  content: "\ea8a";
  color: #faad4d;
}
.Ryl-wordpress:before {
  content: "\ea8b";
  color: #21759b;
}
.Ryl-wpengine:before {
  content: "\ea8c";
  color: #40bac8;
}
.Ryl-xbox:before {
  content: "\ea8d";
  color: #107c10;
}
.Ryl-xcode:before {
  content: "\ea8e";
  color: #1575f9;
}
.Ryl-xero:before {
  content: "\ea8f";
  color: #13b5ea;
}
.Ryl-xing:before {
  content: "\ea90";
  color: #006567;
}
.Ryl-yahoo:before {
  content: "\ea91";
  color: #409;
}
.Ryl-yammer:before {
  content: "\ea92";
  color: #0072c6;
}
.Ryl-yandex:before {
  content: "\ea93";
  color: #f00;
}
.Ryl-ycombinator:before {
  content: "\ea94";
  color: #f0652f;
}
.Ryl-yelp:before {
  content: "\ea95";
  color: #d32323;
}
.Ryl-youtube:before {
  content: "\ea96";
  color: #f00;
}
.Ryl-zapier:before {
  content: "\ea97";
  color: #ff4a00;
}
.Ryl-zendesk:before {
  content: "\ea98";
}
.Ryl-zerply:before {
  content: "\ea99";
  color: #9dbc7a;
}
.Ryl-zillow:before {
  content: "\ea9a";
  color: #0074e4;
}
